<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842025849971-2u3cnb6fh7qu30uket0oj47j8lkcmjpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842025849971-2u3cnb6fh7qu30uket0oj47j8lkcmjpj</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ1dvM_7TQoKS_QDMTBGbIhhNBYJG7LOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>842025849971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timsapp</string>
	<key>PROJECT_ID</key>
	<string>app01-398af</string>
	<key>STORAGE_BUCKET</key>
	<string>app01-398af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842025849971:ios:23fd1c396cded27da6c606</string>
</dict>
</plist>